<nav class="navbar navbar-expand-lg bg-primary">
    <div class="container-fluid">

        <a class="navbar-brand" href="{% url 'home' %}">
            App about books
        </a>

        <a class="nav-link text-white" href="{% url 'home' %}">
            Home Page
        </a>

         <a class="nav-link text-white" href="{% url 'book' %}">
            Book Page
        </a>


         <a class="nav-link text-white" href="{% url 'reader' %}">
            Reader Page
        </a>

        <a class="nav-link text-white" href="#">
            Contact us
        </a>

    </div>
</nav>